table {
    border: 1px solid #EEE;
    margin-top: 20px;
    td, th {
        width: 150px;
        border: 1px solid #EEE;
        padding: 10px;
    }
}
.search-container {
    margin-bottom: 20px;
}


