.idea/
.vscode
/node_modules
/bower_components
/build
/typings
/dist
.DS_Store
/src/assets/styles/*.css
/src/app/**/*.js
/src/app/**/*.map
/src/app/**/*.css
*.iml
*.log
/src/assets/images/sprite-dist/
/src/assets/fonts/
/src/assets/styles/_icons.scss
/src/assets/styles/_olpSprite.scss
/src/library.css