<div class="debug-component">
    <div class="fields-container">
        <div class="field">
            <label for="debug">Debug</label>
            <input type="checkbox" id="debug"/>
        </div>
        <div class="field">
            <label for="remoteCDNUrl">remoteCDNUrl</label>
            <input type="text" id="remoteCDNUrl"/>
        </div>
        <div class="field">
            <label for="remoteServerUrl">remoteServerUrl</label>
            <input type="text" id="remoteServerUrl"/>
        </div>
        <button value="SAVE" (click)="saveDebugInfo()">SAVE</button>
    </div>
</div>
