<div id="app-container">
    <header id="app-header" class="app-header narrow-header">
        <div spamjs-view mdodule="olp.header" id="app-header-view"></div>
    </header>
    <aside id="app-sidebar" class="app-sidebar narrow-sidebar">
        <sidebar></sidebar>
    </aside>
    <i class="go-full-screen fa fa-expand"></i>
    <div moduless="olp.main"></div>
</div>


<div>
    <a [routerLink]="['/dashboard']">HOME</a>
    <a [routerLink]="['/crisis-center']">CRISIS CENTER</a>
    <a [routerLink]="['/events']">EVENTS</a>
</div>
<router-outlet></router-outlet>