@import "../../../assets/styles/variables";
.olp-sidebar {
    font-size: 13px;
}
.olp-nav {
    color: #E7E7E7;
    li {
        .icon {
            font-size: 28px;
            position: relative;
            top: 10px;
            text-align: center;
            width: 54px;
        }
    }
}
.menu_item{
    line-height: 44px;
    .icon{
        line-height: 44px;
    }
}
.olp-nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.olp-nav >ul >li {
    cursor: pointer;
    position: relative;
    white-space:nowrap;
    &:first-child{
        border-top: 0px;
        >a{
            &:first-child{
                border-top: 0px;
            }
        }
    }
    .glyphicon {
        width: 50px;
        height: 100%;
        float: left;
        line-height: 52px;
        text-align: center;
        font-size: 20px;
        top: 0;
        position: relative;
    }
    > a {
        display: block;
        color: inherit;
        text-decoration: none;
        overflow:hidden;
        height: 44px;
    }
    &:hover > ul {
        display: block;
    }
    &.active, &:hover {
        .menu_item{
            color: #fff;
        }
        div {
            border-top-color: transparent;
        }
        + li div {
            border-top-color: transparent;
        }
        .glyphicon:after {
            content: "";
            height: 52px;
            border-left: 2px solid $olp-blue;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .icon-label {
        display: inline-block;
        text-transform: uppercase;
        width: calc(100% - 70px);
        height: 52px;
        opacity:1;
        transition:opacity $global-transition-val;
    }
    .submenu{
        display: none;
    }
    &:hover{
        >.submenu{
            margin: 0;
            padding: 15px;
            position: absolute;
            left: 100%;
            top: 0;
            background: #FFFFFF;
            border: 1px solid #e5e5e5;
            z-index: 2;
            display: block;
            min-width: 400px;
            .submenu_title{
                font-weight: bold;
                margin-bottom: 10px;
            }
            .col50{
                width: 50%;
                float: left;
                .section_heading{
                    font-weight: 500;
                    font-size: 12px;
                    color: #ccc;
                }
                a.submenu_links{
                    color: #8A8A8A;
                    display: block;
                    text-decoration: none;
                    width: auto;
                    position: relative;
                    &.active, &:hover{
                        color: $olp-blue;
                    }
                }
            }
        }
    }
    &:first-child {
        .icon-label {
            border-top: none;
        }
    }
}
.olp-nav ul >li:nth-child(1) a {
    border-top-color: transparent;
}
.icon_popup_dropdown_arrow_Right.icon_popup_dropdown_arrow_Right.icon_popup_dropdown_arrow_Right {
    transition:transform $global-transition-val;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 0;
    height:36px;
    line-height:36px;
    top:0;
    left:calc(100% - 66px);
    &:before{
        height:52px;
        line-height:52px;
    }
}
.narrow-sidebar {
    .icon_popup_dropdown_arrow_Right.icon_popup_dropdown_arrow_Right.icon_popup_dropdown_arrow_Right{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    .olp-nav > ul > li .icon-label{
        opacity:0;
    }
}
#navigation_box{
    margin: 0;
    padding: 15px;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    background: #3E5367;
    color:rgba(255,255,255,1);
    font-size: 14px;
    z-index: 2;
    min-width: 400px;
    transition:top 0.4s, height 0.1s;
    overflow:hidden;
    .submenu_title{
        font-weight: bold;
        margin-bottom: 10px;
    }
    .col50{
        width: 50%;
        float: left;
        .section_heading{
            font-weight: 400;
            font-size: 12px;
            color: rgba(231, 231, 231, 0.95);
        }
        a.submenu_links{
            color: rgba(255,255,255,0.60);
            display: block;
            text-decoration: none;
            width: auto;
            position: relative;
            padding-left: 5px;
            min-height: 10px;
            &.active, &:hover{
                color: #fff;
            }
        }
    }
}
#navigation_slide {
    background-color: $olp-green;
    transition:top $global-transition-val, height 0.1s, left $global-transition-val;
    height: 44px;
    width: 5px;
    position: fixed;
    left: 195px;
}
.narrow-sidebar {
    #navigation_slide {
        left: 49px;
    }
}
.full-screen {
    #navigation_slide {
        left: 0;
        width: 0;
    }
}