<div class="rating-container" (click)="onClick()">
    <div class="rating-width-setter" [style.width.%] = "ratingWidthPercentage">
        <div class="rating-wrapper">
            <i class="fa fa-star" aria-hidden="true"></i><!--
            --><i class="fa fa-star" aria-hidden="true"></i><!--
            --><i class="fa fa-star" aria-hidden="true"></i><!--
            --><i class="fa fa-star" aria-hidden="true"></i><!--
            --><i class="fa fa-star" aria-hidden="true"></i>
        </div>
    </div>
</div>