$font-stack: 'Roboto';
$white: #ffffff;
$olp-green: #1ABB9C;
$olp-red: #BD362F;
$olp-blue: #2756b6;
$olp-blue-sidebar: #5C819E;
$input-inner-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset;
$dark-background: #F5F5F5;
$olp-cream: #FEFCED;
$theme-blue-color:#5f97fb;
$text-dark-color: #333;
$generic-border-color: #c7cccd;
$userlist-background: #E0E0E0;
$notification-background: #EEEEEE;
$notification-color: #FFFFFF;
$header-width: 54px;
$header-height: 50px;
$offline : #E67B56;
$online : #0aab55;
$offline_lwt: #E67B56;
$unknown: #CCCCCC;
$global-transition-val : 0.338s;